.container{
    width: 80vw;
    height: auto;
    margin: 50px auto 50px auto;
    overflow: hidden;

    .table-container{
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
}